SECTION1_DimensionalityReduction/data/preprocessed_data.csv
venv/
*.csv
__pycache__
*.pkl
*.zip
*.png
*.txt
SECTION2_DomainRecommender/results/svd_predictions.npy
.env
!Report/PCA_meanfill_terminal.txt
!Report/PCA_MLE_terminal.txt
!Report/SVD_terminal_output.txt
!Report/SVD_conclusion.md
!Report/SVD_analysis.md
